  /*/                    begin_: 2_nvy                   /*/
 /*/                A project starter kit              /*/
/*/              Cascading Style Sheet           /*/
/*

nvy.io themed standards for 2018
*** Change as needed ***

Font:
    Style link:    <
        link href="https://fonts.googleapis.com/css?family=Advent+Pro|Arsenal|Questrial" rel="stylesheet">

    Headline:   font-family: 'Arsenal', sans-serif;
    Normal:     font-family: 'Questrial', sans-serif;
    Header;     font-family: 'Advent Pro', sans-serif;:
    Footer:      font-family: 'Advent Pro', sans-serif;:(Reserve for philosopher)

Colors:

  Electric Nvy;  #00ff99;
  Subliminal Blue: #62f8ed;
  Tang: #FFCC95;
  Dark Gray: #565656;   
  Light Gray: bfbfbf;
  Offwhite: #f5eadf;



*/

/*/            TYPOGRAPHY: Defaults          /*/

body, main {
    font-size: 20px;
    font-family: 'Questrial', sans-serif;
    color: #565656;
}

ul, li {
    list-style: none;
    list-style-type: none;
    display: block;
}

a {
    text-decoration: none;
}

/*/                   nvy LOGO                    /*/

.logo {
        padding-top: 4em;
        padding-bottom: 14.2em;
        background: url("../images/soc/logo.png") no-repeat;
        margin-left: 40%;
        margin-top: 5em;
    }

    .projectTitle {

            font-family: 'Advent Pro', sans-serif;
            color: #00ff99;
            letter-spacing: 14px;
            text-shadow: -1px -1px #565656;
            font-size: 3em;
            margin-top: -3em;
            margin-left: 50%;
        }
