  /*/                    begin_: 2_nvy                   /*/
 /*/                A project starter kit              /*/
/*/              Cascading Style Sheet           /*/
/*

nvy.io themed standards for 2018
*** Change as needed ***

Font:
    Style link:    <
        link href="https://fonts.googleapis.com/css?family=Advent+Pro|Arsenal|Questrial" rel="stylesheet">

    Headline:   font-family: 'Arsenal', sans-serif;
    Normal:     font-family: 'Questrial', sans-serif;
    Header;     font-family: 'Advent Pro', sans-serif;:
    Footer:      font-family: 'Advent Pro', sans-serif;:(Reserve for philosopher)

Colors:

  Electric Nvy;  #00ff99;
  Subliminal Blue: #62f8ed;
  Tang: #FFCC95;
  Dark Gray: #565656;   
  Light Gray: bfbfbf;
  Offwhite: #f5eadf;



*/

/*/            TYPOGRAPHY: Defaults          /*/

body, main {
    font-size: 20px;
    font-family: 'Questrial', sans-serif;
    color: #565656;
}

ul, li {
    list-style: none;
    list-style-type: none;
    display: inline;
}

a {
    font-family: 'Questrial', sans-serif;
    text-decoration: none;
    border-right: 3px solid #00ff99;
    padding-right: 7px;
    padding-left: 5px;
    color: #565656;
    font-size: xx-large;
    background: white;
    border-radius: 5em;
    font-family: 'Advent Pro', sans-serif;
    text-shadow: 1px 1px #00ff99;
}

/*/                   nvy LOGO                    /*/

.logo {
    padding-top: 4em;
    padding-bottom: 14.2em;
    background: url(../images/soc/logo.png) no-repeat;
    margin-left: 40%;
    margin-top: 5em;
}   

.projectTitle {
    font-family: 'Advent Pro', sans-serif;
    color: #00ff99;
    letter-spacing: 14px;
    text-shadow: -3px -3px #565656;
    font-size: 5em;
    margin-top: -2em;
    font-weight: normal;
    margin-left: 33%;
}

.subHeading {
    font-family: 'Advent Pro', sans-serif;
    font-size: 2.8em;
    font-weight: normal;
    text-align: center;
    text-shadow: 1px 1px #ffcc95;
    margin-top: -1.5em;
    margin-left: -1.5em;
}

.heading {
    font-family: 'Arsenal', sans-serif;
    font-size: 5em;
    color: #565656;
    text-shadow: 1px -1px #00ff99;
}


        
        p, .normal {
            font-family: 'Questrial', sans-serif;
            line-height: 2;
        }

        hr {
            border-top-left-radius: 5em;
            border-top-right-radius: 5em;
            border-top: #565656;
        }

        nav {
            float: right;
            margin-top: -3em;
            margin-bottom: 2em;
        }
        